.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

 .bg-img-slider{
    width: 100%;
    height: 70vh;
    background-image: url('../img/banner-9.jpg');
    .bg-slider{
        width: 100%;
        height: 70vh;
        background-color: rgba($color: #000000, $alpha: .5);
    }
 }

 .choose-left-bg{
    background-image: url('../img/chooseus-bg-2.jpg');
    background-size: cover;
    height: 70vh;
 }
 .choose-right-bg{
    background-color: #333;
    height: 70vh;
 }