  @import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
  .todo-text{
    font-family: 'Bungee Outline', cursive ;
    color: rgb(0, 80, 120);
    font-weight: bolder;
  }